= content_for :title, "#{@event.partner_one} & #{@event.partner_two} Wedding - #{@event.formatted_time}"


#location.inverted.paralax{ :style => "background-image: url('#{@primary_venue_photo}');" }
  .row
    .column.small-12
      .show-for-small-only
        =image_tag('weddinglogo.png', class: 'herologo')
      .show-for-medium-up
        =image_tag('weddinglogo.png', class: 'herologomedium')
      %h4= "Join us in starting our marriage at the #{@event.venue_name}"
      %br
      %br
      - if @event.show_rsvp?
        = link_to raw("<span class='icon icon-pencil'></span> RSVP now"), "#rsvp", class: "button large js-scroll-to"

- if @event.show_rsvp?
  %br

  #rsvp.row{ng: { controller: "RsvpController" }}
    .column.small-12
      %h5 RSVP
      = simple_form_for rsvp_event_groups_path(@event) do |f|
        %h3 Step one - enter your name
        .row
          .column.small-12.column.medium-6.medium-offset-3
            = f.input :guest, collection: @groups, as: :select, placeholder: "Select your name(s)"
        %br

      .row
        .column.small-12.medium-6{ "ng-repeat" => "guest in group" }
          .card
            %h3 {{ guestName(guest) }}
            %input{type: "text", placeholder: "enter guest name", ng: { show: "guest.is_guest", model: "newGuest.name" }}
            %p {{ rsvpStatus(guest) }}
            %span.button{ng: { show: "guest.rsvp == null && !guest.is_guest", click: "setRsvp(guest, false)"}} Sorry I can not attend
            %span.button{ng: { hide: "guest.is_guest || guest.rsvp", click: "setRsvp(guest, true)"}} {{ rsvpButtonText(guest) }}
            %span.button{ng: { show: "guest.rsvp", click: "setRsvp(guest, false)"}} Sorry I can no longer make it
            %span.button{ng: { show: "guest.is_guest", disabled: "newGuest.name == ''", click: "defineGuest(guest)"}} {{ rsvpButtonText(guest) }}

            .reset{ng: {show: "guest.rsvp && guest.invited_to_ceremony"}}
              %label
                %input{type: "checkbox", ng: {change: "toggleVegetarian(guest)", model: "guest.vegetarian"}}
                Vegetarian

.box.box--mint
  .row
    .column.small-12
      %h5.forceblack Venue

  .row-fluid.overflow
    %ul.small-block-grid-3
      - @venue_photos.first(3).each do |venue_photo|
        %li= image_tag venue_photo.file_url

  .row
    .column.small-12
      #venue-copy
        %h3= @event.venue_name
        = raw(@event.venue_body.from_markdown_to_html)
        %br
        %h4 Directions
        =image_tag('junglebranch.png', class: 'branch')
        = raw(@event.venue_directions.from_markdown_to_html)
        %br
        .map--overlay{onclick: "style.pointerEvents='none'"}
        .show-for-medium-up
          :plain
            <iframe width="800" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJaYoIKt55hVQRH4IKveLrVds&key=AIzaSyD00ILSM1tXE-PuOEUCbsKz0CPgZgLL5Ec" allowfullscreen></iframe>
        .show-for-small-only
          :plain
            <iframe width="400" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJaYoIKt55hVQRH4IKveLrVds&key=AIzaSyD00ILSM1tXE-PuOEUCbsKz0CPgZgLL5Ec" allowfullscreen></iframe>

    .show-for-small-only
      =image_tag('FrameBottomsmallscreen.png', class: 'frame')

  - @event.sections.each do |section|
    %section
      %br
      .row
        .show-for-medium-up
          =image_tag 'FrameTopSmall.png', class: 'topframe'
        .column.small-12.medium-8.medium-offset-2
          #box-copy
            %h3= section.title
            =image_tag @textbreaker.sample
            = raw(section.content.from_markdown_to_html)
        .show-for-medium-up
          =image_tag 'FrameBottomSmall.png', class: 'frame'
        .show-for-small-only
          =image_tag('FrameBottomsmallscreen.png', class: 'frame')

  %br


%br
%section
  .row
    - @event.parties.each do |party|
      .small-12.medium-6.columns
        .card-user-container
          .card-user-avatar
            = image_tag party.image, class: "user-image"
          .card-user-bio
            %h4.forceblack= party.name
            %em= party.position
            %p= party.partybio

.row
  .column.small-12.medium-8.medium-offset-2
    %h5 Photos

- if @event.show_photos?(params)
  = render partial: "photos/form"
  = render partial: "photos/index"
  #modalDropImages.reveal-modal{"data-reveal" => "", :style => "display: block;"}
    %h2.text--salmon Drop images to upload
- else
  .row
    .column.small-12
      %p We invite you back to this website after the wedding to view and upload photos

%br
